.container {
    display: flex;
    flex: 1;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    flex-direction: row-reverse;
}
.box1 {
    display: flex;
    flex: 0.5;
    background-color: red;
}
.box2 {
    display: flex;
    flex: 0.5;
    background-color: blue;
}